//office.pkgs.visualstudio.com/_packaging/OneShell/npm/registry/:username=o{ahmedkhouaja}
//office.pkgs.visualstudio.com/_packaging/OneShell/npm/registry/:_password={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}
//office.pkgs.visualstudio.com/_packaging/OneShell/npm/registry/:email={ahmedkhouaja96@gmail.com}
@ahmedkhouaja:registry=https://npm.pkg.github.com/
